<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageSize" value="6" />
    <add key="GroupSize" value="3" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="DBCS" connectionString="server=.; database=Game Arena; Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="DBCS" connectionString="Server=DESKTOP-CCQ743C; database=Game Arena; ;integrated security=True;" providerName="System.Data.SqlClient" />-->
  <add name="Games_Arena_DB_Context" connectionString="metadata=res://*/Games_Model.csdl|res://*/Games_Model.ssdl|res://*/Games_Model.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;Game Arena&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.6.1" executionTimeout="3600" maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.6.1" />
    <!--In this Main Configuration File we are Authentication User and allowing Every One for this Directory-->
    <authentication mode="Forms">
      <forms loginUrl="Sign In.aspx" defaultUrl="Admin/Admin.aspx">
        <credentials passwordFormat="Clear">
          <user name="Ahsan" password="ahsan" />
          <user name="Administrator" password="administrator" />
        </credentials>
      </forms>
    </authentication>
    <!--Here we are authrorizing Every One for this Directory-->
    <authorization>
      <allow users="*" />
    </authorization>
        <identity impersonate="false" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>